<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright
  ~ /**
  ~ * Copyright (c) 2012 The Finnish Board of Education - Opetushallitus
  ~ *
  ~ * This program is free software:  Licensed under the EUPL, Version 1.1 or - as
  ~ * soon as they will be approved by the European Commission - subsequent versions
  ~ * of the EUPL (the "Licence");
  ~ *
  ~ * You may not use this work except in compliance with the Licence.
  ~ * You may obtain a copy of the Licence at: http://www.osor.eu/eupl/
  ~ *
  ~ * This program is distributed in the hope that it will be useful,
  ~ * but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ * European Union Public Licence for more details.
  ~ **/
  -->

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:META-INF/spring/bundle-context.xml</param-value>
    </context-param>

    <context-param>
        <description>Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>true</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- To allow session-scoped beans in Spring -->
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.activiti.rest.servlet.ActivitiServletContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>Vaadin Application Servlet</servlet-name>
        <servlet-class>org.activiti.explorer.servlet.ExplorerApplicationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Vaadin Application Servlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!-- Session timeout on one day -->
    <session-config>
        <session-timeout>480</session-timeout>
    </session-config>


    <!-- Restlet adapter -->
    <servlet>
        <servlet-name>RestletServlet</servlet-name>
        <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
        <init-param>
            <!-- Application class name -->
            <param-name>org.restlet.application</param-name>
            <param-value>org.activiti.rest.application.ActivitiRestApplication</param-value>
        </init-param>
    </servlet>

    <!-- Catch all requests -->
    <servlet-mapping>
        <servlet-name>RestletServlet</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>
</web-app>