sijoittelu-service.username.to.valintaperusteet=</hahtuva/services/valintalaskentakoostepalvelu/app-password-to-sijoittelu>
sijoittelu-service.password.to.valintaperusteet=</hahtuva/services/valintalaskentakoostepalvelu/app-username-to-sijoittelu>

valintarekisteri.cas.username=</hahtuva/services/omatsivut/valintarekisteri-app-username>
valintarekisteri.cas.password=</hahtuva/services/omatsivut/valintarekisteri-app-password>

sijoittelu-service.kouta-internal.username=</hahtuva/services/kouta-internal/cas-username>
sijoittelu-service.kouta-internal.password=</hahtuva/services/kouta-internal/cas-password>
